# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/HELP.md
/mvnw
/mvnw.cmd
/target/classes/application.properties
/target/classes/data.sql
.idea/
/.idea/.gitignore
/target/branch-delegation-0.0.1-SNAPSHOT.jar.original
/target/surefire-reports/com.sm.bd.branchdelegation.BranchDelegationApplicationTests.txt
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/maven-archiver/pom.properties
/target/surefire-reports/TEST-com.sm.bd.branchdelegation.BranchDelegationApplicationTests.xml
